---
permalink: /downloads/all/
layout: default
title: Downloads - All
---
<section class="section">
    <h1 class="title has-text-centered">All Downloads</h1>
    <div class="container">
        <div class="content">
            <p>This page contains downloads for every single version of Tabletop Club that has been released, for each of the supported platforms. You can also see the full list of releases on <a href="https://github.com/drwhut/tabletop-club/releases" target="_blank">GitHub</a>.</p>
            <p>Instructions on how to download and play the game on each platform can be found in <a href="https://tabletop-club.readthedocs.io/en/latest/general/download/downloading_binaries.html" target="_blank">the documentation</a>.</p>
            <p>Just looking for the latest release? Then you will want to visit the <a href="/downloads">downloads</a> page.</p>
            {% capture auto_update_note %}
                <strong>NOTE:</strong> Only standalone executables are provided on this page.
                If you want to automatically download and install the latest versions when they release, then you can download the game through the <a href="https://itch.io/app" target="_blank">itch app</a>, or if you are on Linux, as a Flatpak from the <a href="https://flathub.org/apps/io.itch.drwhut.TabletopClub" target="_blank">Flathub</a> repository.
            {% endcapture %}
            {% include message.html type="is-info" content=auto_update_note %}
        </div>
        <!-- TODO: Include instructions on how to verify the download. -->
        {% include download_all.html %}
    </div>
</section>