---
permalink: /downloads/prerelease/
layout: default
title: Downloads - Prerelease
---
<section class="section">
    <h1 class="title has-text-centered">Pre-release Builds</h1>
    <div class="container">
        <div class="content">
            <p>This page includes downloads for the latest pre-release version of Tabletop Club for each platform. Pre-release builds are releases specifically designed to help test new features, and to get feedback from the community about certain tweaks.</p>
            <p>Instructions on how to download and play the pre-release builds on each platform can be found in <a href="https://docs.tabletopclub.net/en/latest/general/download/downloading_binaries.html" target="_blank">the documentation</a>.</p>
            <p>Just looking for the latest stable release? Then you will want to visit the <a href="/downloads">downloads</a> page.</p>
            {% include message.html type="is-info" content="If you have downloaded the game through the <strong>itch app</strong>, then you can switch to the pre-release branch by clicking on the <strong>settings icon</strong> next to the <strong>Launch</strong> button, then clicking <strong>Install</strong> next to the <code>prerelease</code> version for your platform. For example, if you are on 64-bit Windows, you would install <code>tabletop-club-windows-64-prerelease.zip</code>." %}
        </div>
        {% include download_prerelease.html %}
    </div>
</section>