{%- for release in site.data.releases -%}
    {%- if release.type == "stable" -%}
        {%- assign latest_stable = release -%}
        {%- break -%}
    {%- endif -%}
{%- endfor -%}
{%- for release in site.data.releases -%}
    {%- if release.type == "prerelease" -%}
        {%- assign latest_prerelease = release -%}
        {%- break -%}
    {%- endif -%}
{%- endfor -%}
{%- if latest_prerelease.date < latest_stable.date -%}
    <div class="block">
        {% capture old_prerelease_note %}
            The latest pre-release build is older than the current stable release ({{ latest_stable.version }}).
            It is highly recommended to <a href="/downloads">download the stable release</a> instead for the time being, until a new pre-release build is available to download.
        {% endcapture %}
        {% include message.html type="is-warning" content=old_prerelease_note %}
    </div>
{%- endif -%}
<div class="block content">
    <h2>Windows</h2>
    <div class="buttons are-medium">
        {% include download_button.html version=latest_prerelease.version platform="Windows_64" %}
        {% include download_button.html version=latest_prerelease.version platform="Windows_32" %}
    </div>
</div>
<div class="block content">
    <h2>Linux</h2>
    <div class="buttons are-medium">
        {% include download_button.html version=latest_prerelease.version platform="Linux_64" %}
        {% include download_button.html version=latest_prerelease.version platform="Linux_32" %}
    </div>
</div>
<div class="block content">
    <h2>macOS</h2>
    <div class="buttons are-medium">
        {% include download_button.html version=latest_prerelease.version platform="OSX_Universal" %}
    </div>
</div>