{%- assign thumbnail = "posts/thumbnail.jpg" -%}
{%- if include.post.thumbnail != nil -%}
    {%- assign thumbnail = include.post.thumbnail -%}
{%- endif -%}
<div class="card">
    <a href="{{ include.post.url }}">
        <div class="card-image">
            <figure class="image">
                <img src="/assets/images/{{ thumbnail }}" alt="">
            </figure>
        </div>
        <header class="card-header">
            <p class="card-header-title">{{ include.post.title }}</p>
        </header>
    </a>
    <div class="card-content">
        <div class="content">
            {{ include.post.excerpt }}
            <p><i>{{ include.post.date | date_to_long_string }}</i></p>
        </div>
    </div>
</div>