:root {
    --bulma-link-h: 120deg;
    --bulma-link-s: 20%;
}

.navbar {
    --bulma-navbar-background-color: #083d2b;
}

.navbar-item {
    --bulma-navbar-item-color-l: 90%;
}

.hero {
    background-image: url("/assets/images/hero_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p.title, p.subtitle {
    --bulma-title-color: white;
    --bulma-subtitle-color: white;
    text-shadow: 1px 1px 2px black;
}

a:not(.button, .navbar-item) {
    text-decoration: underline;
}

.button.is-white.is-matrix {
    --bulma-white-h: 163;
    --bulma-white-s: 87%;
    --bulma-white-l: 40%;
    --bulma-white-invert-l: 100%;
}

.button.is-white.is-discord {
    --bulma-white-h: 235;
    --bulma-white-s: 86%;
    --bulma-white-l: 65%;
    --bulma-white-invert-l: 100%;
}

.button.is-white.is-mastodon {
    --bulma-white-h: 252;
    --bulma-white-s: 59%;
    --bulma-white-l: 51%;
    --bulma-white-invert-l: 100%;
}