:root {
    --bulma-link-h: 120deg;
    --bulma-link-s: 20%;
}

.navbar {
    --bulma-navbar-background-color: #083d2b;
}

.hero {
    background-image: url("/assets/images/hero_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p.title, p.subtitle {
    --bulma-title-color: white;
    --bulma-subtitle-color: white;
    text-shadow: 2px 2px 2px black;
}

a:not(.button, .navbar-item) {
    text-decoration: underline;
}