---
layout: default
---
<section class="hero is-halfheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title is-spaced">A free and open source board game simulator.</p>
            <p class="subtitle">Play your favourite tabletop games in a physics-based, 3D environment with your friends, with no logins or sign-ups required.</p>
            <p class="subtitle">Available on Windows, macOS, and Linux.</p>
            <div class="buttons is-centered">
                <a class="button is-info is-medium" href="https://www.youtube.com/watch?v=B0KEdPw5ttM" target="_blank">
                    <span class="icon">
                        <i class="fa-brands fa-youtube"></i>
                    </span>
                    <span>Showcase</span>
                </a>
                <a class="button is-primary is-medium" href="/download">
                    <span class="icon">
                        <i class="fa-solid fa-download"></i>
                    </span>
                    <span>Download</span>
                </a>
            </div>
        </div>
    </div>
</section>
{{ content }}