---
layout: default
---
<section class="hero is-halfheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title is-spaced">A free and open source board game simulator.</p>
            <p class="subtitle"></p>
            <div class="buttons is-centered">
                <button class="button is-info is-medium">Features</button>
                <button class="button is-primary is-medium">
                    <span class="icon">
                        <i class="fa-solid fa-download"></i>
                    </span>
                    <span>Download</span>
                </button>
            </div>
        </p>
    </div>
</section>
{{ content }}